{% assign objectType = include.objectType %}

{% comment %} +++++ Verifies that 'objectType' is a valid type +++++ {% endcomment %}
{% comment %} +++++ Get available content types from config +++++ {% endcomment %}
{% assign types = site.admin.content-types %}
{% if site.admin.doDebug == true %}<h1>types = {{ types }}</h1>{% endif %}

{% comment %}Create an empty array{% endcomment %}
{% assign allowedTypes = "" | split: "/" %}
{% for type in types %}{% assign allowedTypes = allowedTypes | push: type[0] %}{% endfor %}

{% unless allowedTypes contains objectType %}
<div class="alert alert-warning"><p>
<strong>Include error : </strong> Please pass an "objectType" argument to "_includes/utils/admin-table.html".
Wrong argument passed to "_includes/utils/admin-table.html".<br>
Passed : {{ objectType | inspect }}<br>
Allowed : {{ types | join: " - " }}</p>
</div>
{% endunless %}
{% comment %} +++++ Get config for current object type +++++ {% endcomment %}
{% assign typeConfig = site.admin.content-types[objectType] %}
{% comment %}Get config for non displayable props in listings{% endcomment %}
{% assign noDisplayProps = typeConfig.noDisplayProps %}
{% comment %}Get config for displayable props in listings{% endcomment %}
{% assign displayProps = typeConfig.displayProps %}

{% if site.admin.doDebug == true %}<h1>typeConfig = {{ typeConfig }}</h1>{% endif %}
{% if site.admin.doDebug == true %}<h1>noDisplayProps = {{ noDisplayProps }}</h1>{% endif %}
{% if site.admin.doDebug == true %}<h1>displayProps = {{ displayProps | inspect }}</h1>{% endif %}



<h3>Pages (count = {{ site.pages.size }})</h3>

    {% for p in site.pages %}
    <h4>page = {{ p.path }}</h4>

<ul>
{% for prop in p %}
{% if site.doDebug == true %}<h1>prop[0] = {{ prop[0] }}</h1>{% endif %}

{% unless noDisplay contains prop[0] %}
<li>{{ prop[0] }}</li>
{% endunless %}
{% endfor %}
</ul>






    {% endfor %}
