{% comment %} ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
List item
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ {% endcomment %}

{% comment %} =========================================================
Adding a rotation class
see config : site.rotation-classes
========================================================= {% endcomment %}
{% assign item = include.item %}
{% assign pathElements = item.path | split:"/" %}
{% assign imgPath = "" | split:"/" %}
{% assign imgPath = imgPath | push: "img/catalogue" | push: pathElements[1] %}
{% assign firstImg = item.images | first %}
{% assign imgPath = imgPath | join:'/' | append: "/" | append: firstImg | append:".jpg" %}

{% comment %} =========================================================
Adding a rotation class
see config : site.rotation-classes
========================================================= {% endcomment %}
{% assign index = include.index %}
{% assign additionalClass = "" %}

{% if index != "" and index != nil %}
  {% assign classesNum = site.rotation-classes | size %}
  {% assign random = classesNum | modulo: index %}
  {% assign classes = site.rotation-classes %}
  {% assign additionalClass = classes[random] | prepend: " " %}
{% endif %}

  <div class="col-md-3 col-sm-3 col-xs-6">
    <figure class="thumbnail{{additionalClass}}">
      <a href="{{ site.baseurl }}{{ item.url }}">
        <img src="{{ site.baseurl }}/{{ imgPath }}" alt="{{ item.title }}">
      </a>
      <div class="caption">
        <h3>
          <a href="{{ site.baseurl }}{{ item.url }}">
          {{ item.title | capitalize }}
          </a>
        </h3>
      </div>
    </figure>
  </div>
