{% assign item = include.item %}
{% if item == "" or item == nil %}{% assign item = page %}{% endif %}

{% assign itemCategory = item.url | split: "/" %}

{% assign pathElements = item.path | split:"/" %}

{% assign imgPath = "" | split:"/" %}
{% assign imgPath = imgPath | push: "img/catalogue" | push: pathElements[1] %}

<div class="row">
  <div class="col-md-6">

    <h2>Catalogue : <a href="{{ site.baseurl }}/{{ item.type }}">{{ itemCategory[1] | capitalize }}</a></h2>

    <h3>{{ item.title }}</h3>
    <ul class="list-unstyled">
      {% if item.matieres != nil %}<li><strong>Matières</strong>&nbsp;:&nbsp;{{ item.matieres | join:", " }}</li>{% endif %}
      {% if item.taille != nil %}<li><strong>Taille</strong>&nbsp;:&nbsp;{{ item.taille }}</li>{% endif %}
      {% if item.prix != nil %}<li><strong>Prix</strong>&nbsp;:&nbsp;{{ item.prix }}</li>{% endif %}
    </ul>

    {{ item.content }}

  </div>
  <div class="col-md-6">
    <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
      <ol class="carousel-indicators">
      {% for i in item.images %}<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}"{% if forloop.first == true %} class="active"{% endif %}></li>{% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for i in item.images %}<div class="item{% if forloop.first == true %} active{% endif %}">
          <img alt="First slide [900x500]" src="{{ site.baseurl }}/{{ imgPath | join:'/'}}/{{ i }}.jpg" data-holder-rendered="true">
        </div>{% endfor %}
      </div>
      <a href="#carousel-example-generic" class="left carousel-control" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
      <a href="#carousel-example-generic" class="right carousel-control" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-6">
    {% comment %}Find prev next item with same property{% endcomment %}
    {% include prevOrNextItemSearch.html propName="type" searchFor="previous" %}
    {% include prevOrNextItemSearch.html propName="type" searchFor="next" %}

    {% if previousItem != nil %}
      <a class="btn btn-primary btn-lg btn-block" href="{{ site.baseurl }}{{ previousItem.url }}">Article précédent : {{ previousItem.title }}</a>
    {% endif %}
  </div>
  <div class="col-xs-6">
    {% if nextItem != nil %}
     <a class="btn btn-primary btn-lg btn-block" href="{{ site.baseurl }}{{ nextItem.url }}">Article suivant : {{ nextItem.title }}</a>
    {% endif %}
  </div>
</div>
