{% assign typo = include.typo %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron home-jumbo {{typo}}">
  <a href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
  <a href="{{ site.baseurl }}/"><h2>{{ site.description }}</h2></a>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span>Menu</span>
      </button>
      <div class="site-title {{typo}}">
        <h1><a class="" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <h2><a class="" href="{{ site.baseurl }}/">{{ site.description }}</a></h2>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Accueil</a></li>
        <li class=""><a href="#">A propos</a></li>
        <li class=""><a href="#">Atelier</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chapeaux <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Casquettes</a></li>
            <li><a href="#">Bob</a></li>
            <li><a href="#">Capelines</a></li>
            <li><a href="#">Saharien</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="col-md-6">
    <h2>Header 2</h2>
    <p>Cum sociis natoque <strong>penatibus et magnis dis parturient</strong> montes, nascetur ridiculus mus. Sed rutrum lectus eget mollis accumsan. Mauris rhoncus diam eget faucibus imperdiet. Nullam id massa at libero <em>pharetra consectetur. Suspendisse potenti.</em> Pellentesque auctor tellus augue, quis scelerisque ipsum blandit ut. <a href="#">Sed nunc orci</a>  , fermentum ut aliquam in, malesuada et nulla.</p>

    <h3>Header 3</h3>
    <p>Phasellus ac mollis ligula, non mollis lacus. Aliquam erat volutpat. Etiam semper luctus volutpat. In in pulvinar urna. Pellentesque purus elit, tincidunt nec nibh nec, laoreet blandit neque. Curabitur sit amet libero mi. Aenean eget arcu sit amet lectus vehicula interdum.</p>

  </div>
  <div class="col-md-6">
    <h3>Listes</h3>
      <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
        <li>List item 4</li>
        <li>List item 5</li>
      </ul>
  </div>
</div>

<hr>
