<a id="skippy" class="sr-only sr-only-focusable" href="#navigation"><div class="container"><span class="skiplink-text">Skip to main menu</span></div></a>
<a id="skippy" class="sr-only sr-only-focusable" href="#main"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>
<div class="container">
{% include utils/old_browser.html %}
{% include utils/noscript.html %}
{% include utils/cookiewarning.html %}
<div class="jumbotron home-jumbo2">
  <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/{{ site.logoImage }}" alt="Logo Marie-Line Delacroix" class=""></a>
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <h2><a href="{{ site.baseurl }}/">{{ site.description }}</a></h2>
  <a class="l" href="{{ site.baseurl }}/l/"><span></span></a>
</div>

</div>
{% comment %} >>>>>>>>>>>>>>>>>> Generates a menu Twitter Bootstrap style
Include with :  {% include header.html navId="main" %}
Pages that have a corresponding "menu: string" in front matter will be included in this menu
Pages are sorted by "weight"
{% endcomment %}
{% assign navbarId = include.navId %}
{% if navbarId == "" or navBarId == nil %}{% assign navbarId = "main" %}{% endif %}

<!--Navbar {{ navbarId }}-->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span>Menu</span>
      </button>
      <div class="site-title">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/{{ site.logoImage }}" alt="" class=""></a>
        <h1><a class="" href="{{ site.baseurl }}/">{{ site.title }}</a><small></small></h1>
        <h2><a class="" href="{{ site.baseurl }}/">{{ site.description }}</a></h2>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right"{% if navbarId == 'main' %} id="navigation"{% endif %}>

{% comment %}
++++++++++++++++++++++ Dropdown menus insert
{% endcomment %}

{% comment %}
++++++++++++ DEBUG
{% endcomment %}
{% assign doDebug = false %}

{% assign dd = site.main-menu-dropdowns | sort: "weight" %}
{% assign ddIndex = dd.size %}
{% assign ddCurrent = 0 %}
{% assign nextInsertWeight = dd[ddCurrent].weight %}

{% assign pages = site.pages | sort: 'weight' %}
{% assign lastPageWeight = 0 %}

{% for p in pages %}
  {% if p.menu == navbarId %}

    {% if nextInsertWeight > lastPageWeight and nextInsertWeight < p.weight %}
      {% comment %}+++++++++++++++ insert a dropdown ++++++++++{% endcomment %}
    {% if doDebug == true %}<h3>insert a dropdown for {{ dd[ddCurrent] }}</h3>{% endif %}

{% assign items = site.catalog-categories %}
{% if doDebug == true %}<h3>items = {{ items|inspect }}</h3>{% endif %}

{% assign pathName = page.url | remove: "/" %}
{% if doDebug == true %}<h3>pathName = {{ pathName|inspect }}</h3>{% endif %}

{% assign catalogAcitve = false %}
{% assign pathItems = page.url | split: "/" %}
{% for item in items %}
  {% if item.name == pathItems[1] %}{% assign catalogAcitve = true %}{% endif %}
{% endfor %}

{% if doDebug == true %}<h3>catalogAcitve = {{ catalogAcitve | inspect }}</h3>{% endif %}

    <li class="dropdown{% if catalogAcitve == true %} active{% endif %}">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalogue <span class="caret"></span></a>
      <ul class="dropdown-menu">
{% for item in items %}
{% capture url %}{{ site.baseurl }}/{{ item.name }}/{% endcapture %}
<li{% if url == page.url %} class="active"{% endif %}><a href={{ url }}>{% if item.display %}{{ item.display }}{% else %}{{ item.name | capitalize }}{% endif %}</a></li>
{% endfor %}
      </ul>
    </li>

    {% comment %} ++++++++++++ update menu datas index ++++++++++++++++ {% endcomment %}
    {% assign ddCurrent = ddCurrent | plus: 1 %}
    {% assign nextInsertWeight = dd[ddCurrent].weight %}
  {% endif %}
  {% assign lastPageWeight = p.weight %}


    <li{% if p.url == page.url %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
    </div>
</nav>
</div>
