{% comment %}++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Look for the next or previous item in a collection extract.

Extract can be made like this : {% assign items = site.catalogue | where: prop, value %}
Or reversed : {% assign items = site.catalogue | where: "type", pathName | reverse %}

Use :
{% include prevOrNextItemSearch.html propName="type" searchFor="previous" reverse="true" %}

string propName : name of the prop items are grouped by

string searchFor : "previous" or "next"

string reverse : do we reverse the array

return : item object or null if no prev/next found

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++{% endcomment %}

{% assign doDebug = false %}

{% assign propName = include.propName %}
{% assign searchFor = include.searchFor %}
{% assign reverse = include.reverse %}

{% if doDebug == true %}<p>propName = {{ propName | inspect }}</p>{% endif %}
{% if doDebug == true %}<p>searchFor = {{ searchFor | inspect }}</p>{% endif %}
{% if doDebug == true %}<p>reverse = {{ reverse | inspect }}</p>{% endif %}

{% assign siblings = site.catalogue | where: "type", page.type %}

{% assign siblings = siblings | where: "archive", false %}

{% if reverse == "true" %}
  {% assign siblings = siblings | reverse %}
{% endif %}

{% if searchFor == "previous" %}
  {% assign siblings = siblings | reverse %}
{% endif %}

{% assign selectedItem = nil %}
{% assign canSearch = false %}

{% for sibling in siblings %}

  {% if canSearch == true and sibling[propName] == item[propName] %}
    {% assign selectedItem = sibling %}
    {% break %}
  {% endif %}

  {% if doDebug == true %}<p>sibling.path = {{ sibling.path | inspect }}</p>{% endif %}
  {% if doDebug == true %}<p>item.path = {{ item.path | inspect }}</p>{% endif %}
  {% if doDebug == true %}<p>canSearch = {{ canSearch | inspect }}</p>{% endif %}

  {% if sibling.path == item.path %}
    {% if doDebug == true %}<p>EGAL</p>{% endif %}
    {% assign canSearch = true %}
  {% endif %}

{% endfor %}

{% if searchFor == "previous" %}
  {% assign previousItem = selectedItem %}
{% elsif searchFor == "next" %}
  {% assign nextItem = selectedItem %}
{% endif %}

{% if doDebug == true %}<p>final assignement for nextItem = {{ nextItem["title"] | inspect }}</p>{% endif %}
{% if doDebug == true %}<p>final assignement for previousItem = {{ previousItem["title"] | inspect }}</p>{% endif %}
