---
title: A propos
menu: main
weight: 20
---
<div class="row">
  <div class="col-sm-10 col-sm-offset-1"><h1 class="page-title">{{ page.title }}</h1></div>
</div>
<div class="row">

  {% include responsive-figure.html
  src="img/a-propos/marie-line-delacroix-atelier-7.jpg"
  alt="L'Atelier 7"
  url=""
  model="creditsLeft"
  rot="rot1" %}

  <div class="col-sm-6">
    <blockquote>Depuis vingt ans, je fais tourner les têtes entre mes mains.</blockquote>

    <p>C'est dans mon atelier, niché à l’abri des arbres de La Ferme des Quartiers, que je créé mes chapeaux. <br>
    J'ai toujours eu la passion des tissus, des matières, des couleurs. Elle guide toujours mon inspiration.</p>
    <p>A seize ans, je créais mon premier vêtement, une jolie tunique en coton à carreaux roses.</p>
    <p>Après, quelques années passées dans le monde du vêtement, j'ai créé mon atelier : <strong>Atelier 7</strong> en 1992.</p>
    <p>Et c'est en 1996, que j'ai basculé dans le monde magique du chapeau.</p>
    <p>J'ai eu la chance de suivre des cours donnés par Dominique Pilliard, grand maître en la matière. Ceci m'a permis d'affiner mes compétences techniques et de côtoyer l'excellence.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-6">
    <blockquote>J'aime mettre de la couleur à la rue.</blockquote>
    <p>Modiste autodidacte, je réalise des pièces que l'on peut porter au quotidien et pour des occasions particulières.</p>
    <p>Ma gamme est étendue et accessible : de la casquette à la capeline, en passant par le bibi.</p>
    <p>Je travaille également sur <a href="{{ site.baseurl }}/commander/">commande</a>, et créé le chapeau qui mettra en valeur votre personnalité.</p>
    <p>Et ne manquez pas de visiter ma page <a href="{{ site.baseurl }}/credits/">"Crédits"</a>, pour y découvrir toutes les personnes qui participent à mon bien être personnel et professionnel.</p>
    <p>Et je remercie encore toutes les personnes qui m'encouragent depuis plus de vingt ans, et vous mes clientes et clients qui m'avez suivi depuis tout ce temps.</p>
  </div>

  {% include responsive-figure.html
  src="img/a-propos/dominique-pilliard.jpg"
  alt="Dominique Pilliard pendant un cours de moulage."
  url=""
  model="creditsRight"
  rot="rot0" %}

</div>
