---
title: Crédits
menu: main
weight: 50
---

<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <h2>Photographie : Klaus Roethlisberger</h2>
    <p>C'est Klaus. Il aime la vie. Il la dévore de son regard acéré.</p>
    <p>Cela parait tellement facile quand on le regarde préparer sa prise. Il s'approche de son modèle, pousse un bras, plie un poignet, tend un doigt, libère une mèche, lance un tissu dans le vent, puis se recule, rive son oeil à sa boite à images, lance encore un "cambre toi peu plus !", et :
    <blockquote>
    Beautifull ! Don't move ! <br>
    Clic Clac ! Je l'ai !
    </blockquote>
    <p>La photo est dans la boite !</p>
    <p>J'emprunterais à Klaus son expression favorite pour dire ce que je ressens à la vue de son travail :</p>
    <blockquote>J'adore !</blockquote>
    <p>Jugez par vous même en visitant sa page <a href="https://www.facebook.com/klaus.officiel">Facebook</a> </p>
  </div>

  {% include responsive-figure.html
  src="img/credits/klaus-marie-after-shooting.jpg"
  alt= "Klaus et Marie-Line en revue de shooting.<br> 'La mode est dans le pré'"
  url=""
  model="creditsRight"
  rot="rot0" %}
</div>

<div class="row">
  {% include responsive-figure.html
  src="img/credits/pancarte.jpg"
  alt="La pancarte de L'atelier 7 par Anabel Levée."
  url="" model="creditsLeft" rot="rot1" %}

  <div class="col-sm-6">
    <h2>Peinture : Annabel Levé</h2>
    <p>Annebel Levé est peintre et céramiste.</p>
    <p>Son art est généreux, poétique, coloré et onirique.</p>
    <p>Vous pouvez visiter son Atelier à Cancale : <em>L'atelier Qu'en Pince le crabe</em> au 19 rue du Port, ou son <a href="http://annabel.dphoto.com">site internet</a></p>
    <blockquote>
    <p>Je me songe un instant jouant à saute-mouton avec de gracieuses volailles.
    Mes pieds dansent sur la vase et mes bras s'étirent vers le ciel...</p>
    <footer>Annabel Levé</footer>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <h2>Sculptures : Patrick Baumann</h2>
    <p>Patrick a réalisé les Totems, la "Pagode" et tout le mobilier du jardin.</p>
    <p>Et Patrick, n'est pas que sculpteur, il est aussi très actif au sein de son association "lezarts humanitaire". <a href="http://www.lezartshumanitaire.com/">Visiter leurs site internet</a></p>
  </div>
  {% include responsive-figure.html
  src="img/credits/patrick-by-klaus.jpg"
  alt= "Patrick by Klauss Roethlisberger"
  url=""
  model="creditsRight"
  rot="rot0" %}
</div>

<div class="row">
  {% include responsive-figure.html
  src="img/credits/ben.jpg"
  alt="Ben"
  url="" model="creditsLeft" rot="rot1" %}
  <div class="col-sm-6">
    <h2>Sculptures : Ben</h2>
    <p>Ben, un ami précieux, a réalisé le superbe squelette "<em>L'amoureux éconduit</em>" qui veille sur  le puits.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <h2>Sculptures : Eric Delacroix</h2>
    <p>Auteur de nombreuses œuvres présentes à la ferme, dont la rambarde de l'Atelier 7.</p>
    <p>Vous pouvez visiter son atelier au 3 route des côtes à Thillot sous Les Côtes (55210).</p>

  {% include responsive-figure.html
  src="img/credits/eric-delacroix-atelier.jpg"
  alt= "Eric Delacroix dans son atelier"
  url=""
  model="inside"
  rot="rot0" %}
  </div>
  {% include responsive-figure.html
  src="img/credits/sculpture-eric-delacroix.jpg"
  alt= "Sculpture par Eric Delacroix"
  url=""
  model="creditsRight"
  rot="rot0" %}
</div>

<div class="row">
  {% include responsive-figure.html
  src="img/credits/les-yeux-aux-bouts-des-doigts-couverture.jpg"
  alt="Les yeux au bout des doigts de Catherine Guéneau et Gérard Leblanc"
  url="" model="creditsLeft" rot="rot1" %}
  <div class="col-sm-6">
    <h2>Reportages : Catherine Guéneau et Gérard Leblanc</h2>
    <p>Deux passionnés, réalisateurs de talent avec qui j'ai pu partager ma passion.</p>
    <p>Retrouvez leurs superbes créations sur leur site <a href="http://www.mediascreationrecherche.fr/">Médias Création Recherche</a>.</p>
    <blockquote>
      Pour nous, le cinéma n’est pas un moyen d’évasion et de reconduction de l’existant mais un moyen de transformation et de création de nouvelles façons de vivre et de filmer.
    </blockquote>
    <p>Un extrait de l'un de leurs reportages (crédits : Catherine Guéneau et Gérard Leblanc)</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eXHvxwMkx_Q" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
