---
title: Accueil
menu: main
weight: 10
permalink: /
---

<div class="row catalog-list first-row">

{% include responsive-figure.html
src="img/home/marie-line-delacroix-by-klaus-roethlisberger-2-500.jpg"
alt="Ramoneur Gris (&copy; Klaus Roethlisberger)"
url="/mi-saison/ramoneur-gris-soie-et-laine/"
model="big"
rot="rot1" %}

{% include responsive-figure.html
src="img/home/marie-line-delacroix-by-klaus-roethlisberger-3-500.jpg"
alt="Cloche Gris Perle (&copy; Klaus Roethlisberger)"
url="/mi-saison/cloche-ronde-gris-perle/"
model="big"
rot="rot0" %}

</div>

<div class="row catalog-list">
  <h2>Dernières créations</h2>
  {% assign sortedItems = site.catalog | where: "home", true %}
  {% for c in sortedItems limit:4 %}
  {% include catalog-list-item.html item=c index=forloop.index %}
  {% endfor %}
  {% comment %}
  <p>Retrouvez tous les modèles dans <a href="{{ site.baseurl }}/catalogue/">le catalogue</a>.</p>
  {% endcomment %}
</div>
