---
title: Accueil
menu: main
weight: 10
permalink: /
---
{% assign box-class = "box col-md-6 col-sm-6 col-xs-6" %}

<div class="row catalog-list first-row">

  <div class="{{ box-class }}">
    <figure class="thumbnail">
      <a href="{{ site.baseurl }}/a-propos/">
        <img src="{{ site.baseurl }}/img/home/marie-line-delacroix-by-klaus-roethlisberger-1-500.jpg" alt="{{ site.title }}" class="img-responsive">
      </a>
      <div class="caption">
        <h3><a href="{{ site.baseurl }}/a-propos/">A propos</a></h3>
      </div>
    </figure>
  </div>

  <div class="{{ box-class }}">
    <figure class="thumbnail rot0">
      <a href="{{ site.baseurl }}/atelier/">
        <img src="{{ site.baseurl }}/img/home/marie-line-delacroix-by-klaus-roethlisberger-3-500.jpg" alt="{{ site.title }}" class="img-responsive">
      </a>
      <div class="caption">
        <h3><a href="{{ site.baseurl }}/atelier/">L'Atelier 7</a></h3>
      </div>
    </figure>
  </div>

</div>

<div class="row catalog-list">
  <h2>Dernières créations</h2>
  {% assign sortedItems = site.catalog | sort: "date" %}
  {% for c in sortedItems limit:4 %}
  {% include catalog-list-item.html item=c index=forloop.index %}
  {% endfor %}
  {% comment %}
  <p>Retrouvez tous les modèles dans <a href="{{ site.baseurl }}/catalogue/">le catalogue</a>.</p>
  {% endcomment %}
</div>
