---
title: l'Atelier 7
menu: main
weight: 30
---
<div class="row">
  <div class="col-sm-10 col-sm-offset-1"><h1 class="page-title">{{ page.title }}</h1></div>
</div>

<div class="row">

  <div class="col-sm-4 col-sm-offset-1">
    <figure class="thumbnail">
      {% capture itemImg %}{{ site.baseurl }}/img/atelier/punk-attitude.jpg{% endcapture %}
      {% assign itemImg = itemImg | remove_first: "/" %}
      {% responsive_image_block %}
          path: {{ itemImg }}
          alt: "Atelier 7"
          title: "Atelier 7"
          sizes: "(min-width:1200px) 300px, (min-width:992px) 230px, (min-width:768px) 180px, 50vw"
      {% endresponsive_image_block %}
      <div class="caption">
        <h3>{{ t.description }}</h3>
      </div>
    </figure>
  </div>

  <div class="col-md-6">
    <p>J'aime mon atelier, mon antre.</p>
    <p>J'y range mes étoffes, mes trésors. Galons, voilettes, boutons, perles, ... Tous rangés dans leurs boites, coffres, valises.</p>
    <p>Les tissus sont baignés d'une lumière tamisée. </p>
    <p>Les soie, lin, coton, laine, fausse fourrure, velours, paille et sisal se côtoient dans un gai fouillis artistique. Parfois l'inspiration me vient de ces hasards heureux.</p>
    <p>Je sors alors mes gabarits, craies et ciseaux pour en faire des tranches ou des bandes.</p>
    <p>Entre machine à coudre et fer à repasser mes modèles peuvent enfin prendre forme.</p>
    <p>Le mesureur est le premier à essayer mes œuvres. 54 ! Parfait !</p>
    <p>Assemblage et repassage de la doublure.</p>
    <p>Formage de la visière pour les casquettes.</p>
    <p>Pose d'un gros grain orné de l'étiquette atelier 7.</p>
    <p>Votre chapeau n'attend que vous.</p>
  </div>

</div>
<div class="row">
  <div class="page-header"><h2>Naissance d'une casquette à tranches modèle Brasseur</h2></div>
</div>
{% assign tasks = site.data.fabrication-casquette-brasseur %}

{% for t in tasks %}
  {% assign remain = forloop.index | modulo: 4 %}
  {% if remain == 1 %}<div class="row catalog-list">{% endif %}
  <div class="col-md-3 col-sm-3 col-xs-6">
    <figure class="thumbnail">
      {% capture itemImg %}{{ site.baseurl }}/img/atelier/{{ t.img }}{% endcapture %}
      {% assign itemImg = itemImg | remove_first: "/" %}
      {% responsive_image_block %}
          path: {{ itemImg }}
          alt: {{ t.description }}
          title: {{ t.description }}
          sizes: "(min-width:1200px) 300px, (min-width:992px) 230px, (min-width:768px) 180px, 50vw"
      {% endresponsive_image_block %}
      <div class="caption">
        <h3>{{ t.description }}</h3>
      </div>
    </figure>
  </div>

  {% if remain == 0 or forloop.last == true %}
  </div>{% endif %}
{% endfor %}
