---
layout: default
---
{% comment %}++++++++++++ DEBUG +++++++++++++{% endcomment %}

{% assign pathName = page.url | remove: "/" %}

{% assign categoryConfig = site.catalog-categories | where: "name", pathName | first %}

{% if categoryConfig.display != nil %}
{% assign categoryName = categoryConfig.display %}
{% else %}
{% assign categoryName = categoryConfig.name | capitalize %}
{% endif %}

<h2>Catalogue : {{ categoryName | capitalize }}</h2>
{% comment %}
{{ content }}
{% endcomment %}
{% assign items = site.catalog | where: "type", pathName %}

{% for item in items %}
    {% assign remain = forloop.index | modulo: 4 %}
    {% if remain == 1 %}<div class="row catalog-list">{% endif %}
    {% include catalog-list-item.html item=item index=forloop.index %}
    {% if remain == 0 %}</div>{% endif %}
{% endfor %}
